.container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

container > h2 {
    color: #333;
    margin-bottom: 10px;
}

container > p {
    margin-bottom: 5px;
}

container > input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.small-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}